# =========================
# DEPENDÊNCIAS
# =========================
node_modules/
frontend-web/node_modules/
frontend-mobile/node_modules/

# =========================
# VARIÁVEIS DE AMBIENTE (CRÍTICO)
# =========================
.env
.env.*
frontend-mobile/.env
frontend-web/.env

# =========================
# UPLOADS / ARQUIVOS GERADOS
# =========================
src/uploads/
uploads/
*.jpeg
*.jpg
*.png
*.webp

# =========================
# BUILD
# =========================
frontend-web/dist/
frontend-mobile/dist/
dist/
build/

# =========================
# EXPO
# =========================
frontend-mobile/.expo/
.expo/
.expo-shared/

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# =========================
# SISTEMA OPERACIONAL
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITOR
# =========================
.vscode/
.idea/

# =========================
# CORERAGE - TESTES
# =========================
coverage/

# Expo
.expo-shared/

# logs extras
*.log
