ignore 

Plaintext
# Ignorar arquivos de variáveis de ambiente
.env

# Ignorar dependências
node_modules/

# Ignorar logs
npm-debug.log*
*.out.log
*.err.log
frontend-mobile/expo-start.*.log

# Expo generated native project
frontend-mobile/android/