<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/api_cadastro.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent" stopProcessing="true">
          <match url="/*" />
          <action type="Rewrite" url="src/api_cadastro.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
